<header class="hero">
    <nav>
      <ul>
        <li>
          <a>Home</a>
        </li>
        <li>Dashboard
          <a>Dashboard</a>
        </li>
        <li>
          <a>Login</a>
        </li>
        <li>
          <a>Logout</a>
        </li>
      </ul>
    </nav>
    
    <!-- <h3>Home          Dashboard         Login          Logout</h3> -->
    <!-- <p>"\n"</p> -->
    <p>\n</p>
    <h1 class="app-title"><i class="Blog"></i> The Tech Blog</h1>
    <p>    </p>
  </header>