<main class="flex-row justify-space-between">
    <div class="body1">

      <div class="card">
        <h3 class="card-header text-uppercase">Login</h3>
        <form id="user-form" class="card-body">
          <label class="form-label" for="username">Username</label>
          <input name="username" id="username" type="text" autofocus="true" class="form-input" />
          <label class="form-label" for="password">Password</label>
          <input password="password" id="password" type="text" autofocus="true" class="form-input" />
          <button type="submit" class="btn">Login</button>
          <p></p>
          <p></p>
          <a href="Sign Up Instead">Sign Up Instead</a>
        </form>
      </div>

      <!-- <div class="card">
        <h3 class="card-header text-uppercase">Search By Topic</h3>
        <div id="language-buttons" class="card-body">
          <button data-language="javascript" class="btn">JavaScript</button>
          <button data-language="html" class="btn">HTML</button>
          <button data-language="css" class="btn">CSS</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <h2 class="subtitle">Showing Repositories for: <span id="repo-search-term"></span></h2>
      <div id="repos-container" class="list-group"></div>
    </div> -->
</main>